<div class = "col-md-6">
  <button ng-click = "getRandomPet()">Random Pet</button>
  <h2>{{animal.name.$t}}</h2>
  <p>{{animal.description.$t}}</p>
  <img ng-src="{{animal.media.photos.photo[1].$t}}" />
  <button ng-click="addFavorite()" class="favbutton">Add Favorite</button>
</div>
<!-- <div class = "col-md-6">
  <input type = "text" ng-model = "breed" placeholder = "Enter Breed"/>
  <button ng-click = "getBreeds()">Get Breeds</button>
  <h2 ng-if = "breeds != undefined">Breeds of {{breed}}</h2>
  <ul>
    <li ng-repeat = "breed in breeds">{{breed.$t}}</li>
  </ul>
</div> -->
